@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0d1117;
  color: #eafaf5;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button,
a {
  transition: all 0.2s ease;
}
